* {
  margin: 0;
  padding: 0;
}

/* .App {
  background-color: rgba(241, 239, 239, 0.541);
} */

.sticky {
  top: 0;
  position: sticky;
  z-index: 100;
}
.fixed {
  top: 55px;
  position: fixed;
  z-index: 90;
  /* border: 1px solid red; */
}
.nav {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2874f0;
  height: 55px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-1 {
  flex: 1;
  /* border: 1px solid red; */
}
.item-2 {
  flex: 3;
  /* border: 1px solid red; */
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px 10px;
}

.card:hover {
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.25);
}
.card img {
  height: 400px;
  width: 320px;
}

.sort {
  display: flex;
  justify-content: space-around;
}

.sort span:hover {
  cursor: pointer;
}
